.product {
  width: 32.5%;
  position: relative;
  display: inline-block;
  height: 400px;
  margin: 5px;
  cursor: pointer;
  height: 500px;
}
@media (max-width: 413px) {
  .product {
  width: 100%;
  margin: 5px 0;
  }
}
.title {
    position: absolute;
    padding: 10px;
    top: 0;
    background: rgba(225, 225, 225, .2);
    text-transform: uppercase;
    width: 95%;
    font-size: .7rem;
    font-weight: bold;
}
.price {
    position: absolute;
    padding: 5px;
    left: 10px;
    bottom: 50px;
    background: #255;
    color: #fff;
    font-weight: bold;
}
.heroImg {
    width: 100%;
}
